<div class="container margin-top">
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">ISBN</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Categoty</th>
        <th scope="col">Qty</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr>
        <th scope="row">Test Text</th>
        <th scope="row">Test Text</th>
        <th scope="row">Test Text</th>
        <th scope="row">Test Text</th>
        <th scope="row">Test Text</th>
        <th scope="row">Test Text</th>
        <th scope="row">Test Text</th>
      </tr>
    </tbody>
  </table>
</div>
